* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 15px */

    --title:#363f5f;
    --secondary-title:#969cb3;
    --positive:#49AA26;
    --light-positive:#3dd705;
    --dark-positive:#2D4A22;
    --negative:#e92929;
    --primary:#FFF;
    --secondary:#f0f2f5;
    --input:#FFF;
    --placeholder:#000000;
}

body {
    background: var(--secondary);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .toggle {
    margin-top: 12px;
}

header .toggle input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

header .toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 23px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

header .toggle label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background-color: var(--primary);
    border-radius: 90px;
    transition: 0.3s;
}

header .toggle input:checked + label {
    background-color:  #bdbdbd;
}

header .toggle input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

header .toggle label:active:after {
    width: 45px;
}

.container {
    width: min(90vw, 800px); 

    margin: auto;
}


/* TITLES */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--title);
    
    font-weight: 400;
}

/*LINKS AND BUTTONS */
a {
    color: var(--positive);
    text-decoration: none;
}

a:hover {
    color: var(--light-positive);
}

.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}

button {
    width: 100%;
    height: 50px;

    border: none;

    color: var(--primary);
    background: var(--positive);
    border-radius: 0.25rem;
    cursor: pointer;

    padding: 0;

}

button:hover {
    background: var(--light-positive);
}

.button.cancel {
    color: var(--negative);
    border: 2px var(--negative) solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}


header {
    background: var(--dark-positive);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: var(--primary);
    font-weight: 100;
}

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: var(--primary);
    margin-top: 0;
}

.card {
    background: var(--primary);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;

    color: var(--title);
}

.card h3 {
    font-weight: 400;
    font-size: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background: var(--positive);
    color: var(--primary);
}

#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--secondary-title);
}

table thead th:first-child, 
table tbody td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead th:last-child, 
table tbody td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {
    background: var(--primary);

    font-weight: 400;
    padding: 1rem 2rem;

    text-align: left;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: var(--primary);

    padding: 1rem 2rem;
}

td.description {
    color: var(--title);
}

td.income {
    color: #12a454;
}

td.expense {
    color: var(--negative);
}

/*MODAL*/
.modal-overlay {
    width: 100%;
    height: 100%;

    background: rgba(0,0,0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    z-index: 10;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--secondary);
    padding: 2.4rem;
    position: relative;
    z-index: 1;
}

/*FORM*/
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;
    background: var(--input);
    color: var(--placeholder);

    padding: 0.8rem;

    width: 100%;
}

input::placeholder {
    color: var(--placeholder);
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
    color: var(--placeholder);
}

/*FOOTER*/
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--title);

    opacity: 0.6;
}

/*RESPONSIVE*/

@media(min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }
}